/*______________________________________________________________________________
//
// Project: IBS 
// File: main.css
// Version: %version: 17 %
//______________________________________________________________________________
//
// created by: kriega
// creation date: Thu Mar  3 11:14:11 2005
// changed by: %derived_by: emmanuet %
// change date: %date_modified: Sat Feb  4 14:00:25 2006 %
//______________________________________________________________________________
//
// copyright: (c) BMW AG 2005, all rights reserved
//______________________________________________________________________________
*/
body { 
	color: #000000; 
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	text-decoration: none; 
	}
P {
	FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	font-size: 13px; 
}
B {
	FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	font-size: 13px; 
    font-weight:bold; 
}
TD {
	FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	font-size: 13px; 
}
font {
	 font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	 font-size: 13px; 
	 text-decoration: none;
}
select {
	 font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	font-size:12px;
}
input{
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	font-size: 12px;
}
textarea{
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	font-size: 12px;
}
.hlhelp {
	color: #000000;
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	font-size: 16px;
	line-height: 21px;
	text-decoration: none;
	font-weight:bold;
	}
.hl0 { 
	color: #000000; 
	 font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; 
	 font-size: 22px; 
	 line-height: 25px; 
	 text-decoration: none; 
	 font-weight:bold; 
	}
.hl1 { 
	color: #000000; 
	 font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; 
	 font-size: 18px; 
	 line-height: 21px; 
	 text-decoration: none; 
	 font-weight:bold; 
	}
.hl2 { 
	color: #666666;
	 font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; 
	 font-size: 18px; 
	 line-height: 21px; 
	 text-decoration: none; 
	 font-weight:bold; 
	}
.hl3 { 
	color: #999999; 
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	 font-size: 18px; 
	 line-height: 21px; 
	 text-decoration: none; 
	 font-weight:bold; 
	}
.hl4 {
	color: #000000;
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	 font-size: 16px;
	 text-decoration: none;
	 font-weight:bold;
	}
.hl5 {
	color: #AAAAAA;
	font-family: BMWTypeLight, Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	font-size: 15px;
	line-height: 17px; 
	text-decoration: none;
	font-weight:bold;
	}
.foot { 
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	font-size:11px;
	line-height:11px; 
	}
.listfoot { 
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	font-size: 13px; 
}
	
.foothinweis { 
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	font-size:11px;
	}

.radio{
	background-color : #C9D0E3;
}

.horline{
	background-color : #9297B4;
	color: #9297B4;
}
a.tab{
	color : #000000;
	text-decoration : none;
}
a.contentunder{
	color : #000000;
	text-decoration : underline;
}
.error{
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	font-size:13px;
	color : Red;
 	font-weight:bold;
}

table.inhalt{
	background : #C9D0E3;
}

td.inhalt{
	background-color : #C9D0E3;
}

table.inhalt TD.rahmen{
	background-color : #9297B4;
}
table.inhalt TD.headline{
	background-color : #E6E6E6;
	 
}
table.inhalt TD.verknuepfung{
	background : #ffffff;
}
table.inhaltPrint{
	background : #ffffff;
}

table.inhaltPrint TD.rahmen{
	background-color : #000000;
}
table.inhaltPrint TD.headline{
	background-color : #cccccc;
	 
}
table.buttons{
	background-color : #9297B4;
}
table.gitter{
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	font-size: 13px;
}
table.gitter TD.header{
	background-color : #9297B4;
	 font-weight:bold; 
}
table.gitter TD.header a{
	text-decoration : underline;
}
table.gitter TD{
	background-color : #FFFFFF;
}
table.gitter TD.gray{
	background-color : #E6E6E6;
}
table.gitter TD.headline{
	background-color : #E6E6E6;
	 
}
table.gitter TD.inhalt{
	background-color : #C9D0E3;
	 
}
table.gitterPrint{
	background : #ffffff;
}

table.gitterPrint TD.headline{
	background-color : #cccccc;
	}
table.reiter{
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	font-size: 13px;
}
table.reiter TD.reiterakt{
	background-color : #9297B4;
}
table.reiter TD.reiterdis{
	background-color : #cccccc;
}
table.reiter TD.reiterdis2{
	background-color : #C9D0E3;
}
table.reiter TD.rahmen{
	background-color : #9297B4;
}

table.gitter TD.auswahl{
	background-color : #cccccc;
}
.radioauswahl{
	background-color : #cccccc;
	color : #cccccc;
}
.radiogray{
	background-color : #E6E6E6;
	color : #E6E6E6;
}
.radiowhite{
	background-color : #FFFFFF;
	color : #E6E6E6;
}
.radioheadline{
	background-color : #E6E6E6;
	color : #E6E6E6;
}

font.rot, font.rot a {
	color : Red;
}
.radiodark{
	background-color : #9297B4;
	color : #9297B4;
}

.sheetfontseleted{
	color : #CCCCCC;
	font-weight:bold;
}

.sheetfontunselected{
	color : #888888;
}

A {
	color: #000000;
	text-decoration: underline
}

.bmwhelveticafont {
	font-family: "BMW Helvetica Light"
}
.sortTableLink{
	text-decoration : underline;
}

#legend {
  position: absolute;
  visibility: hidden;
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-style: solid;
  border-color: #9297B4;
  padding: 0px;
}

table.alternate{
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	font-size: 13px;
}
table.alternate TD.header{
	background-color : #9297B4;
	 font-weight:bold; 
}
table.alternate TD.header a{
	text-decoration : underline;
}
table.alternate TR.alternate0{
	background-color : #FFFFFF;
}
table.alternate TR.alternate1{
	background-color : #ECECEC;
}

table.alternate TD.headline{
	background-color : #E6E6E6;
	 
}
table.alternate TD.inhalt{
	background-color : #C9D0E3;
	 
}
/* RA Liste Direkt-/Initiativbewerber: Text unter PercentageBar*/
.percentageMessage {
	font-family : Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	font-size : 11px;
	color: red;
}
.hinweisMessage {
	font-family : Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	font-size : 85%;
	color: red;
}
b.redback{
	color:black;
	background-color:#FF6666;
}
.redback{
	color:black;
	background-color:#FF6666;
}
td.lightcolumn
{
	background-color:#d2d9e6;
}
.idBerufe {
	width:200px;
}
.sivProfil {
	font-size:11px; 
	color:#666666;
}
.istPunkte {
	font-size:10px; 
	color:#C9D0E3;
}
.sollPunkte {
	font-size:10px; 
	color:#d2d9e6
}



