/*______________________________________________________________________________
//
// Project: IBS 
// File: navi.css
// Version: %version: 2 %
//______________________________________________________________________________
//
// created by: kriega
// creation date: Thu Mar  3 11:14:22 2005
// changed by: %derived_by: kriega %
// change date: %date_modified: %
//______________________________________________________________________________
//
// copyright: (c) BMW AG 2005, all rights reserved
//______________________________________________________________________________
*/
body {background-color: #FFFFFF; }
	.menue {color: #FFFFFF; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; font-size: 11px; text-decoration: none; font-style:normal; font-weight: none }
	.a {color: #000000; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;  font-size:13px; line-height:14px; text-decoration: none; font-weight:bold; }
	.b {color: #000000; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;  font-size:13px; line-height:14px; text-decoration: none; font-weight:none; }
	a { text-decoration:none; }
